* {
    margin: 0;
    padding: 0;
    position: relative;
}
body{
    background-image: url("https://png.pngtree.com/back_origin_pic/04/36/31/3ff00a13cb902c1f1f9a46622034b94b.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

#main{
    margin-top: 10rem;
    width: 30rem;
    min-height: 30rem;
    background: white;
    border:1px solid darkblue;
}

